<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS 연습문제</title>
    <link rel="stylesheet" href="css/cssEx.css">
</head>
<body>
  <header>
    <div class="header">
      <div id="ctg1">패션잡화</div>
      <div id="ctg2">주방용품</div>
      <div id="ctg3">생활건강</div>
      <div id="ctg4">DIV가구</div>
    </div>
  </header>
  <div class="prdTable">
    <table id="table" >
      <tr>
        <td>
          <img src="image/fashion1.png">
        </td>
        <td>
          <img src="image/fashion2.png">
        </td>
        <td>
          <img src="image/fashion3.png">
        </td>
      </tr>
      <tr>
        <td>캐주얼화 스니커즈</td>
        <td>미니 크로스 여성가방</td>
        <td>페이퍼 플레인 겨울 신발</td>
      </tr>
      <tr id="price">
        <td>35000원</td>
        <td>20000원</td>
        <td>25800원</td>
      </tr>
    </table>
  </div>
  <div id="info">
    <div class="box">
      <h4>공지사항</h4>
      <a href="#">[배송] ㅁㄴㅇㄻㅇㄴㄹ </a> <br>
      <a href="#">[배송] ㅁㄴㅇㄻㅇㄴㄹ </a> <br>
      <a href="#">[배송] ㅁㄴㅇㄻㅇㄴㄹ </a> <br>
    </div>
    <div class="box">
      <h4>커뮤니티</h4>
      <a href="#">[배송] ㅁㄴㅇㄻㅇㄴㄹ </a> <br>
      <a href="#">[배송] ㅁㄴㅇㄻㅇㄴㄹ </a> <br>
      <a href="#">[배송] ㅁㄴㅇㄻㅇㄴㄹ </a> <br>
    </div>
  </div>
</body>
</html>