<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        /* 문서 전체에 적용 */
        * {margin: 0 auto; padding:0; font-size:100%;}
        #wrap{
            margin: 0 auto;
            width: 90%;
            padding:0.5%;
            background-color:lightblue;
        }

        #wrap div {
            width:90%;
            margin:5%;
            background-color:lightyellow;
        }

        p{padding:4%;}
    </style>
</head>
<body>
    <div id="wrap">
        <div>
            <p>
                화면의 크기나 환경을 감지하여 웹사이트를 변경하는 기술
                컴퓨터 기기의 환경 또는 종류 감지해야 그 기기에 맞게 웹사이트 구조를 바꿀 수 있기 때문에 반응형 웹을 제작할 때 반드시 필요한 기술
            </p>
        </div>
        <div>
            <p>
                모바일 버전과 데스크탑 버전 두 개의 웹사이트 만들게 될 경우
                웹 사이트 수정 / 갱신할 때 모바일, 데스크탑 버전의 수정/갱신 동시 지원
                모바일, 태블릿, 데스크탑 모두 하나의 html, css에서 유지보수 가능(한 파일에서 관리가 가능하다는 의미. 쉽다는건 아님)
            </p>
        </div>
    </div>
</body>
</html>