<style type="text/css">
        #outBox {
            margin:0 auto;
            width: 1020px;
            position: relative;
        }

        #box1 {
            position: absolute;
            left: 25px;
            top: 181px;
            z-index:1;
        }
        #box2 {
            position: absolute;
            left: 187px;
            top: 155px;
            z-index:2;
        }
        #box3 {
            position: absolute;
            left: 369px;
            top: 129px;
            z-index:3;
        }
        #box4 {
            position: absolute;
            left: 603px;
            top: 155px;
            z-index:4;
        }
        #box5 {
            position: absolute;
            left: 795px;
            top: 181px;
            z-index:5;
        }
    </style>